<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.2.206221351" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Owin" version="1.0" targetFramework="net45" userInstalled="true" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net45" userInstalled="true" />
  <package id="Thinktecture.IdentityServer3.AccessTokenValidation" version="1.2.2" targetFramework="net45" userInstalled="true" />
</packages>