
@{
    ViewBag.Title = "Index";
}

<h2>Accept Eula</h2>

@if (ViewBag.Message != null)
{ 
    <div class="alert alert-danger">@ViewBag.Message</div>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        Do you accept the site terms and conditions (whatever those might be)?
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary" name="button" value="yes">Yes</button>
        <button class="btn btn-danger" name="button" value="no">No</button>
    </div>
}


