<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--<configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>-->

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.diagnostics configSource="configuration\tracing.Debug.config" />

  
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceSecurityAudit auditLogLocation="Application" 
                                serviceAuthorizationAuditLevel="Failure" 
                                messageAuthenticationAuditLevel="Failure" 
                                suppressAuditFailure="true" />        
          <!--<serviceCredentials useIdentityConfiguration="true" />
          <serviceAuthorization principalPermissionMode="Always" />-->
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
      
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true"
                      logMalformedMessages="true"
                      logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="true"
                      maxMessagesToLog="2147483647"
                      maxSizeOfMessageToLog="2147483647" />
    </diagnostics>
  </system.serviceModel>

  <!--<system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="audienceUri"/>
      </audienceUris>
      <securityTokenHandlers>
        <add type="CustomJwtSecurityTokenHandler.CustomJwtSecurityTokenHandler, SampleWCFApiHost" />
        <securityTokenHandlerConfiguration>
          <certificateValidation certificateValidationMode="None"/>
          <issuerTokenResolver type="System.IdentityModel.Tokens.NamedKeyIssuerTokenResolver, System.IdentityModel.Tokens.JWT">
            <securityKey
                symmetricKey="+zqf97FD/xyzzyplugh42ploverFeeFieFoeFooxqjE=" 
                name="https://localhost/TestRelyingParty" />
          </issuerTokenResolver>          
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
      <issuerNameRegistry>
        <trustedIssuers>
          <add name="id3"  thumbprint="thumbprint"/>
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>-->

</configuration>