<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 
    	       Add the following configuration to the WCF <serviceBehavior>/<behavior> element 
    	    -->
          <serviceAuthorization principalPermissionMode="Custom"
                                serviceAuthorizationManagerType="SampleWCFApiHost.ValidateJsonWebToken, SampleWCFApiHost" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  
  </configuration>