<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.202250711" targetFramework="net45" />
  <package id="Thinktecture.IdentityModel.Client" version="4.0.1" targetFramework="net45" />
</packages>