<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IdentityServer3" version="2.5.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Serilog" version="1.5.14" targetFramework="net45" />
  <package id="Serilog.Sinks.Literate" version="1.2.0" targetFramework="net45" />
  <package id="Serilog.Sinks.Seq" version="1.5.27" targetFramework="net45" />
</packages>