@model SampleApp.Models.LocalRegistrationModel

@{
    ViewBag.Title = "Index";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="Username">Username</label>
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="First">First Name</label>
        @Html.TextBoxFor(x => x.First, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Last">Last Name</label>
        @Html.TextBoxFor(x => x.Last, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Register</button>
    </div>
}

