<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IdentityModel" version="1.0.0" targetFramework="net45" />
  <package id="IdentityServer3" version="2.0.0-build00174" targetFramework="net45" />
  <package id="IdentityServer3.WsFederation" version="2.0.0-build00012" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Serilog" version="1.5.7" targetFramework="net45" />
  <package id="Serilog.Sinks.Literate" version="1.2.0" targetFramework="net45" />
</packages>