<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Serilog" version="1.4.76" targetFramework="net45" />
  <package id="Thinktecture.IdentityServer.v3" version="1.0.0-pre-10043" targetFramework="net45" />
</packages>