<system.diagnostics>

  <trace autoflush="true" />

  <sources>

    <!-- WCF message logging -->
    <source name="System.ServiceModel.MessageLogging"
            switchValue="All">
      <listeners>
        <add name="ServiceModelMessageLoggingListener" />
      </listeners>
    </source>

    <!-- WCF tracing -->
    <source name="System.ServiceModel"
            switchValue="All"
            propagateActivity="true">
      <listeners>
        <add name="ServiceModelTraceListener" />
      </listeners>
    </source>

    <!-- WIF Traccing-->
    <source name="System.IdentityModel" switchValue="Verbose">
      <listeners>
        <add name="xml"
             type="System.Diagnostics.XmlWriterTraceListener"
             initializeData="C:\logs\Security\WcfClientTest.Debug\WIF.svclog" />
      </listeners>
    </source>

  </sources>

  <!-- worker process account needs write access to the configured tracing directories -->
  <sharedListeners>

    <!-- WCF message logging -->
    <add name="ServiceModelMessageLoggingListener"
         type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         initializeData="C:\logs\Security\WcfClientTest.Debug\ClientWcfMessages.svclog"
         traceOutputOptions="Timestamp">
      <filter type="" />
    </add>

    <!-- WCF tracing -->
    <add name="ServiceModelTraceListener"
         type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         initializeData="C:\logs\Security\WcfClientTest.Debug\ClientWcfTrace.svclog"
         traceOutputOptions="Timestamp">
      <filter type="" />
    </add>


  </sharedListeners>

</system.diagnostics>

