<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.diagnostics configSource="configuration\tracing.Debug.config" />
  
  <system.serviceModel>

    <bindings>
      <customBinding>
        <binding name="CustomBinding_IService1">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
          <!--    <wsdl:binding name='CustomBinding_IService1'>    -->
          <!--        <sp:AsymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">..</sp:AsymmetricBinding>    -->
          <!--        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">..</sp:SignedSupportingTokens>    -->
          <!--        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">..</sp:Wss11>    -->
          <!--        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">..</sp:Trust13>    -->
          <!--The configuration schema is insufficient to describe the non-standard configuration of the following security binding element: -->
          <!--System.ServiceModel.Channels.TransportSecurityBindingElement:
                  DefaultAlgorithmSuite: Basic256
                  IncludeTimestamp: True
                  KeyEntropyMode: CombinedEntropy
                  MessageSecurityVersion: WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11
                  SecurityHeaderLayout: Strict
                  ProtectTokens: False
                  EndpointSupportingTokenParameters:
                    No endorsing tokens.
                    No signed tokens.
                    No signed encrypted tokens.
                    No signed endorsing tokens.
                  OptionalEndpointSupportingTokenParameters:
                    No endorsing tokens.
                    No signed tokens.
                    No signed encrypted tokens.
                    No signed endorsing tokens.
                  OperationSupportingTokenParameters: none
                  OptionalOperationSupportingTokenParameters: none-->
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport requireClientCertificate="true" />
        </binding>
      </customBinding>
    </bindings>
    
    <client>
      <endpoint address="https://localhost:2728/Service1.svc" 
                binding="customBinding"
                bindingConfiguration="CustomBinding_IService1" 
                contract="ServiceReference1.IService1"
                name="CustomBinding_IService1" />
    </client>
    
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>    
    
      <diagnostics wmiProviderEnabled="true">
        <messageLogging logEntireMessage="true"
                        logMalformedMessages="true"
                        logMessagesAtServiceLevel="true"
                        logMessagesAtTransportLevel="true"
                        maxMessagesToLog="2147483647"
                        maxSizeOfMessageToLog="2147483647" />
      </diagnostics>

    </system.serviceModel>
</configuration>